.about {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;
  color: #f3efef;
}

.about h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 24px;
  color: #fafafa;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about ul {
  padding-left: 20px;
  
  margin-top: 0;
  margin-bottom: 20px;
}

.about li {
  margin-bottom: 10px;
  font-size: 1rem;
  padding-top: inherit;
}

.s {
  padding-top: inherit;
}
